<script>
$(document).ready(function(){
  getArrow("#about", "60px");
});
</script>

<div class="about-desc active-desc">
  <div class="notification"></div>
  <div class="field">
    <span>Nick</span><br/><br/>
    <span>Email</span><br/><br/>
    <span>Location</span><br/><br/>
    <span>Education</span><br/><br/>
    <span>Institution</span><br/><br/>
  </div>
  <div class="descp">
    <span id="username">{{ username }}</span><br/><br/>
    <span id="email">{{ email }}</span><br/><br/>
    <span id="location">{{ location }}</span><br/><br/>
    <span id="education">{{ education }}</span><br/><br/>
    <span id="institute">{{ institute }}</span><br/><br/>
    <% if(canEdit) { %>
      <input type="button" class="edit-btn prof-btn" value="Edit Profile">
    <% } %>
  </div>
  <% if(canEdit) { %>
  <div class="editable-desc">
    <form name="edit-profile">
      <input id="username" name="username" class="field" type="text" maxlength="20" spellcheck="false" value=""  disabled>
      <input id="fname" name="fname" class="field" placeholder="First Name" type="text" maxlength="20" spellcheck="false" value="">
      <input id="lname" name="lname" class="field" placeholder="Last Name" type="text" maxlength="20" spellcheck="false" value="">
      <input id="email" name="email" class="field" type="text" maxlength="50" spellcheck="false" disabled value="">
      <input id="location" name="location" class="field" type="text" maxlength="30" spellcheck="false">
      <select id="education" name="education" class="field">
	<option value="None">Select</option>
	<option value="Student">Student</option>
	<option value="Under Graduate">Undergrad</option>
	<option value="Post Graduate">Post Graduate</option>
      </select>
      <input id="institute" name="institute" class="field" type="text" maxlength="100" spellcheck="false">
      <input type="reset" class="cancel-btn prof-btn" value="Cancel" onclick='$(".about-desc .editable-desc .error-textfield").removeClass("error-textfield");$(".about-desc .notification").slideUp(100);'>
      <input type="submit" class="save-btn prof-btn" value="Save" onclick='return validateUpdateProfile()'>
    </form>
  </div>
  <% } %>
</div>
