<% include ../header %>
<% include ../navbar %>

<link href="/site-media/css/profile.css" rel="stylesheet">

<div class="container">
  <div class="site-container">
    <div class="left-sidebar">
      <div class="user-img">
	<form enctype="multipart/form-data" method="post" action='/upload_image'>
	<% if(canEdit) { %>
	  <div id="uploadbtn"><div>Edit Profile Picture</div></div>
	  <input id="uploadimg" type="file" name="pic" accept="image/*" title="Upload Image" onchange="this.form.submit()">
	<% } %>

	<% if(hasOwnImage)  { %>
	      <img src="<%= image_url %>" width="200" height="200" onfocus="this.blur()"/>
	<% } else { %>
	      <img src="../site-media/img/avatar.jpeg" width="200" height="200" onfocus="this.blur()"/>
	<% } %>
	</form>
      </div>
    </div>
    <div class="descpane">
      <div class="header">
	<span id="fname">Brijesh</span> <span id="lname">Patel</span>
      </div>
      <script>
      function getArrow(elem,left) {
	$(".site-container .descpane .profile-desc .nav-bar .arrow-border").css({"left":left});
	$(".site-container .descpane .profile-desc .nav-bar").find(".active").removeClass("active");
	$(elem).find("div").addClass("active");
	return true;
      }
      </script>
      <div class="profile-desc">
	<div class="nav-bar">
	  <div class="arrow-border"><div class="arrow"></div></div>
	  <a id="about" href="#about" onclick='getArrow(this,"60px")'><div class="active"><span>About</span></div></a>
	  <a id="progress" href="#progress" onclick='getArrow(this,"175px")'><div><span>Progress</span></div></a>
	  <a id="badges" href="#badges" onclick='getArrow(this,"292px")'><div><span>Badges</span></div></a>
	  <% if(canEdit) { %><a id="settings" href="#settings" onclick='getArrow(this,"420px")'><div class="settings"><span>Settings</span></div></a><% } %>
	</div>
	<ng-view  ng-app="cint-profile"></ng-view>
      </div>
    </div>
  </div>
</div>
<% include ../footer %>
