<script>
$(document).ready(function(){
  getArrow("#progress", "175px");
});

$(document).click(function(e) {
  if( e.target.id != 'topic' && !$('.topics').find(e.target).length) {
    $(".prog-desc .active-tracker").removeClass("active-tracker").slideUp();
  }
});

function showLevelTracker(id) {
  levClass = ".prog-desc .leveltracker#"+ id;
  if (!$(levClass).hasClass("active-tracker")) {
    $(".prog-desc .active-tracker").removeClass("active-tracker").slideUp();
    $(levClass).addClass("active-tracker").slideDown();
  }
}
</script>
<div class="prog-desc">
  <div class="overall">
    <div class="tracklabel">Overall Completion</div>
    <div class="trackbar"><span class="large">{{ progress }}</span><span> complete</span></div>
  </div>
  <div class="topics">
    <div ng-repeat="topic in topics">
      <div id="topic" class="topic" onclick='showLevelTracker("{{topic.id}}");'>
	<div class="name">{{ topic.name }}</div>
	<div class="tracker progress">
	  <div class="bar" style="width: {{ topic.progress }}"></div>
	</div>
      </div>
      <div id="{{topic.id}}" class="leveltracker">
	<div class="lev" ng-repeat="level in topic.levels">
	  <div class="name">{{ level.name }}</div>
	  <div class="tracker progress">
	    <div class="bar" style="width: {{ level.progress }}"></div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>