<% if(canEdit) { %>
<div class="settings-desc">
  <div class="notification"></div>
  <div class="field">
    <% if(!user.passwordSetBySite) { %>
    <span>Current Password</span><br/><br/>
    <% } %>
    <span>New password</span><br/><br/>
    <span>Confirm new password</span><br/><br/>
  </div>
  <div class="editable-desc">
    <form name="change-pass">
      <% if(!user.passwordSetBySite) { %>
	<input id="editcurrpass" name="editcurrpass" class="field" type="password" maxlength="30" spellcheck="false">
      <% } %>
      <input id="editnewpass" name="editnewpass" class="field" type="password" maxlength="30" spellcheck="false">
      <input id="editnewpassconf" name="editnewpassconf" class="field" type="password" maxlength="30" spellcheck="false">
      <input type="reset" class="cancel-btn prof-btn" value="Cancel" onclick='$(".settings-desc .editable-desc .error-textfield").removeClass("error-textfield");$(".settings-desc .notification").slideUp(100);'>
      <input type="submit" class="save-btn prof-btn" value="Save" onclick='return validateChangePass(this);'>
    </form>
  </div>
</div>
<% } %>