#console {
  height: 180px;
  width: 580px;
  position:relative;
  background-color: transparent;
  border: none;
  margin: 0 auto;
}
.jqconsole {
  padding-bottom: 10px;
  background-color: transparent;
  border: none;
}
.jqconsole-cursor {
  background-color: #444;
  line-height: 14px;
  padding-top:2px;
}
.jqconsole-blurred .jqconsole-cursor {
  background-color: #666;
}
.jqconsole-prompt {
  color: #444;
}
.jqconsole-old-prompt {
  color: #040;
  font-weight: normal;
}
.jqconsole-input {
  color: #444;
}
.jqconsole-old-input {
  color: #040;
  font-weight: normal;
}
.brace {
  color: #00FFFF;
}
.paran {
  color: #FF00FF;
}
.bracket {
  color: #FFFF00;
}
.jqconsole-composition {
  background-color: red;
}