.site-container{width:960px;margin:0 auto 60px;background: white;box-shadow: 0 1px 2px rgba(0,0,0,0.3);-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);}
.site-container::before, .site-container::after {display: table;content: "";}
.site-container::after{clear: both;}
.site-container .left-sidebar{float:left;width:200px;padding:19px 19px;}
.site-container .descpane{float:left;width:721px;height:auto;border-left:1px solid #e0e0e0;min-height:258px;}
.site-container .descpane .header{color:#666;float:left;height:40px;padding:10px 35px;border:1px solid white;font:30px "Sanchez",sans-serif}
.site-container .descpane .profile-desc{float:left;clear:both;width:inherit; font: 16px "MuseoSans"}
.site-container .descpane .profile-desc .nav-bar{height:40px;padding:4px 30px 0;background:#f2f2f2;border:1px solid #e5e5e5;border-left:none;border-right:none;}
.site-container .descpane .profile-desc .nav-bar div{float:left;color:#999999;height:20px;padding:10px 30px;cursor:pointer;z-index:305;position:relative;}
.site-container .descpane .profile-desc .nav-bar .active{color:#CF4B45;}
.site-container .descpane .profile-desc .nav-bar div:hover{color:#CF4B45;}
.site-container .descpane .profile-desc .nav-bar .arrow{width:0px;height:0px;border-left: 8px solid transparent;border-right: 8px solid transparent;border-bottom: 8px solid white;-moz-border-bottom-colors:white;position:relative;left:-8px;top:2px;padding:0px;}
.site-container .descpane .profile-desc .nav-bar .arrow-border{width:0px;height:0px;border-left: 9px solid transparent;border-right: 9px solid transparent;border-bottom: 9px solid #e5e5e5;-moz-border-bottom-colors:#e5e5e5;position:relative;left:60px;top:32px;padding:0px;}
.site-container .descpane .profile-desc .settings-desc .field,.site-container .descpane .profile-desc .about-desc .field,.site-container .descpane .profile-desc .about-desc .descp,.site-container .descpane .profile-desc .about-desc .editable-desc{text-align:left;color:#555555;float:left;}
.site-container .descpane .profile-desc .settings-desc .field,.site-container .descpane .profile-desc .about-desc .field{color:#999999;width:160px;padding:20px 10px 20px 50px;clear:left;}
.site-container .descpane .profile-desc .about-desc .descp,.site-container .descpane .profile-desc .about-desc .editable-desc{width:458px;padding:20px 10px 20px 30px;}
.site-container .descpane .profile-desc .prog-desc{padding:20px 0px 40px;}
.site-container .descpane .profile-desc .prog-desc .overall{margin-right:20px;position:relative;float:right;color:#555555;}
.site-container .descpane .profile-desc .prog-desc .overall div{float:left;display:inline;padding:7px 10px 0;}
.site-container .descpane .profile-desc .prog-desc .overall .tracklabel{margin-top:10px;font-size:20px;}
.site-container .descpane .profile-desc .prog-desc .overall .trackbar{background:#e6f8ff;border-radius:10px;}
.site-container .descpane .profile-desc .prog-desc .overall span.large{font-size:32px;}
.site-container .descpane .profile-desc .prog-desc .topics{position:relative;margin-top:60px;clear:both;}
.site-container .descpane .profile-desc .prog-desc .topic{padding:7px 50px;clear:both;font:20px "Sanchez",sans-serif;color:#555555;cursor:pointer;z-index:305;position:relative;overflow: hidden;}
.site-container .descpane .profile-desc .prog-desc .topic .name{float:left;clear:left;}
.site-container .descpane .profile-desc .prog-desc .topic:hover .name{color:#4d90fe;}
.site-container .descpane .profile-desc .prog-desc .topic .tracker{margin:10px;float:right;background:#f0f0f0;width:420px;height:10px;clear:right;border: 1px solid #aaa}
.site-container .descpane .profile-desc .prog-desc .topic .tracker>div{background:#4d90fe;border-right: 1px solid #AAA;}
.site-container .descpane .profile-desc .prog-desc .leveltracker{display:none;height:auto;overflow:hidden;box-shadow:inset 0 0 40px #d5d5d5;clear:both;position:relative;background:#f4f4f4;padding:20px 60px 10px;color:#555555;}
.site-container .descpane .profile-desc .prog-desc .leveltracker .name{margin:6px 0;float:left;clear:left;}
.site-container .descpane .profile-desc .prog-desc .leveltracker .tracker{margin-top:5px;float:right;background:#f0f0f0;width:250px;height:10px;clear:right;border: 1px solid #aaa}
.site-container .descpane .profile-desc .prog-desc .leveltracker .tracker>div{border-right: 1px solid #aaa;background: #92CC58}
.site-container .descpane .profile-desc .about-desc .prof-btn{position:relative;float:right;margin:0px 30px 0 0;background:#4d90fe;background:-webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));border-radius:3px;padding:3px 15px;color:white;border:1px solid #3079ed;font:15px "Sanchez",sans-serif;cursor:default;clear:both;}
.site-container .descpane .profile-desc .about-desc .prof-btn:hover{background:#357ae8;background:-webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));}
.site-container .descpane .profile-desc .about-desc .save-btn{margin-right:10px;clear:none;}
.site-container .descpane .profile-desc .about-desc .cancel-btn{position:relative;float:right;background:#f1f1f1;color:#777;clear:left;border-color:#aaa}
.site-container .descpane .profile-desc .about-desc .cancel-btn:hover{color:#555;border-color:#999;background:#f1f1f1}
.site-container .descpane .profile-desc .about-desc .field span,.site-container .descpane .profile-desc .settings-desc .field span{padding:2px 0;}
.site-container .descpane .profile-desc .about-desc .editable-desc{padding-top:10px;display:none;}
.site-container .descpane .profile-desc .settings-desc .field{margin-left:50px;}
.site-container .descpane .profile-desc .settings-desc .prof-btn{position:relative;float:right;margin:10px 10px 20px 0;background:#4d90fe;background:-webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));border-radius:3px;padding:3px 15px;color:white;border:1px solid #3079ed;font:15px "Sanchez",sans-serif;cursor:default;}
.site-container .descpane .profile-desc .settings-desc .prof-btn:hover{background:#357ae8;background:-webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));}
.site-container .descpane .profile-desc .settings-desc .cancel-btn{margin-right:20px;position:relative;float:right;background:#f1f1f1;color:#777;clear:left;border-color:#aaa}
.site-container .descpane .profile-desc .settings-desc .cancel-btn:hover{color:#555;border-color:#999;background:#f1f1f1}
.site-container .descpane .profile-desc .settings-desc .editable-desc{padding-top:10px;}
.site-container .descpane .profile-desc .about-desc .editable-desc .field,.site-container .descpane .profile-desc .settings-desc .editable-desc 
.field{padding:3px 7px 2px;margin:7px 0px;color:#555555;width:200px;position:relative;float:left;clear:left;font:inherit;background-color:#fdfdfd;border:1px solid #c0c0c0;outline:none;}
.site-container .descpane .profile-desc .about-desc .editable-desc .field:focus,.site-container .descpane .profile-desc .settings-desc .editable-desc .field:focus{border-color:#4d90fe;box-shadow:none;}
.site-container .descpane .profile-desc .about-desc .editable-desc #fname,.site-container .descpane .profile-desc .about-desc .editable-desc #lname{width:150px;margin-right:10px;clear:none;}
.site-container .descpane .profile-desc .about-desc .editable-desc #fname{clear:left;}
.site-container .descpane .profile-desc .settings-desc .field{width:250px;}
.site-container .descpane .profile-desc .settings-desc .editable-desc .field{width:200px;}
.site-container .descpane .profile-desc .settings-desc .editable-desc{width:250px;}
.editable-desc #email,.editable-desc #country,.editable-desc #state,.editable-desc #city{width:300px;}
.editable-desc #education{width:275px;}
.editable-desc #institute{width:400px;}
.settings-desc .editable-desc{float:left;clear:none;}
.badge-desc{padding:20px 0 20px 15px;}
.badge-desc .badge-img{margin:20px 20px;float:left;}
.about-desc .notification,.settings-desc .notification{margin-left:150px;position:relative;background:#f2f2f2;float:left;padding:5px 15px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;color:#666;font-size:13px;border:1px solid #d5d5d5;border-top:none;display:none;}
#profoverlay{background:transparent;}
.left-sidebar form{margin: none;border: 1px solid #e0e0e0;}
.left-sidebar .user-img #uploadimg,.left-sidebar .user-img #uploadbtn{display:none;opacity:0;width:200px;height:200px;position:absolute;}
.left-sidebar .user-img #uploadbtn{opacity:1;background: -moz-linear-gradient(top, transparent, rgba(0,0,0,0.5));background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0,0,0,0.5)));color:#fff;font-size:13px;margin-top:120px;height:80px;}
.left-sidebar .user-img:hover #uploadimg,.left-sidebar .user-img:hover #uploadbtn{display:block}
.left-sidebar .user-img:hover #uploadbtn div{position:relative;top:55px;left:48px;}
.left-sidebar .user-img{overflow:hidden;}