body {
  background: white;
}

.hero-unit {
  padding: 20px 60px 0;
  background: url('../img/noisy_bg.png');
  border-radius: 0;
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
  font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  overflow: hidden;
}

.hero-unit p {
  font-size: 24px;
}

.hero-unit h1 {
  font-size: 36px;
}

.hero-unit #hero-cover {
  border: 1px solid #666;
  -webkit-box-shadow: 0px 0px 45px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 0px 45px 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 45px 1px rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  position: relative;
  top: 15px;
}

.btn.signup {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 50px;
  margin-top: -20px;
  margin-left: 40px;
  position: absolute;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}

.navbar {
  margin: 0;
}

.navbar .navbar-inner {
  padding: 0px 0;
  min-width: 1170px;
  height: 70px;
  background: #333;
  border: none;
  border-radius: 0;
}

.navbar .brand {
  margin-top: 16px;
  color: #bed1ce;
  font-family: 'MuseoSans';
  font-size: 28px;
  display: block;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
  -ms-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
}

.navbar .brand:hover {
  color: white;
}

.nav-collapse {
  overflow: visible;
}

.navbar .nav > li > a {
  margin-top: 17px;
  font-family: 'MuseoSans';
  color: #aabbb8;
}

.navbar .nav > li > a:hover {
  color: #bacbdb;
}

#toggle-dropdown:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: relative;
  border-color: #333;
  border-top-color: #aabbb8;
  display: inline-block;
  top: 4px;
  margin-left: 5px;
  border-width: 5px;
}

#toggle-dropdown:hover:after {
  border-top-color: #bacbdb;
}

.tab-dropdown {
  position: absolute;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
  background-color: white;
  margin-top: 4px;
  display: none;
  z-index: 200;
}

.tab-dropdown .userimg
{
  margin:10px 10px;
  float:left;
  width:72px;
  height:72px;
}

.profiletab 
{
  font-size:14px;
  line-height:1.3em;
  padding:4px;
  text-align:center;
  margin-top:10px;
  width:120px;
  height:80px;
  float:right;
  display:inline;
}

.profiletab-nav
{
  list-style:none;
  margin:5px 0px;
  padding:0px;
  text-align:left;
}

.profiletab-nav li
{
  font-family: 'MuseoSans';
  color:#777;
}
.profiletab-nav li:hover
{
  background-color:#edf8ff;
  color:#444;
}
.profiletab-nav a
{
  padding: 8px 10px 4px 15px;
  color:inherit;
  text-decoration:none;
  display:block;
}

.navbar .nav {
  float: right;
}

.navbar .nav .divider-vertical {
  width: 1px;
  height: 25px;
  background-color: #aaa;
  margin-top: 5px;
}

.navbar .nav > li > a {
  font-size: 14px;
  font-weight: bold;
  text-shadow: none;
  cursor: pointer;
}

.navbar .nav > li > a#login:hover {
  color: #049cdb;
}

.navbar .nav > li > a#signup:hover {
  color: #46a546;
}

.navbar .nav a.btn {
  margin-top: 14px;
  padding: 5px 14px 6px;
}

.clearfix.container {
  margin-top: 60px;
  width: 990px;
}

.clearfix .row {
  margin-left: 0;
}

.clearfix .row .span4 {
  margin: 10px;
  height: 200px;
  border: 1px solid #AAA;
  border-top: 1px solid #CCC;
  background-color: #fff;
}


.navbar .container, .container {
  width: 1100px;
  margin: 0 auto;
}

.topic-label {
  color: #3A87AD;
  font-family: "MuseoSans";
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  padding: 10px 0;
  margin-top: 5px;
  text-shadow: 0px 1px 0px white;
}

.level-nav {
  position: absolute;
  margin-left: -55px;
  margin-top: 50px;
}

.level-nav a {
  text-decoration: none;
}

.level-nav > a > div {
  color: #222;
  text-shadow: 0px 1px 1px #bbb;
  font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: bold;
  width: 35px;
  margin: 5px 0;
  padding: 10px;
  padding-left: 10px;
  background-color: #bacbdb;
  cursor: pointer;
}

.level-nav i {
  margin-top: 3px;
}

.level-nav > a > .active {
  width: 35px;
  padding-left: 20px;
  margin-left: -10px;
}

.level-nav > a > .active, .level-nav > a > div:hover {
  background-color: #94a3a1;
}

.desc > .level-name {
  color: #DD390D;
  font-family: "ABeeZee" ,sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  margin: 5px 20px 10px;
  padding: 5px 5px 10px;
  border-bottom: 1px solid #ccc;
}

.desc > .level-desc {
  margin: 0px 20px;
  color: #2E3C3F;
  font-family: "Sanchez",sans-serif;  
  font-size: 16px;
  line-height: 20px;
  min-height: 441px;
}

.desc, .editor, .terminal {
  margin-bottom: 20px;
  padding: 0;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}

.row-fluid > .desc {
  min-height: 520px;
  background-color: #FFFFEE;
}

.editor {
  height: 301px;
  margin-bottom: 0;
}

.desc > .action-bar, .editor > .action-bar {
  background-color: #f2f2f2;
  border-top: 1px solid #e0e0e0;
  height: 30px;
}

.btn {
  border-radius: 2px;
  border: none;
  margin-top: 4px;
  margin-right: 5px;
  padding: 4px 15px;
  float: right;
  height: 15px;
  line-height: 15px;
  font-family: "ABeeZee", sans-serif;
  box-shadow: none;
  -webkit-box-shadow: none;
  color: #fafafa;
  text-shadow: none;
}

.btn-info {
  background: #44A5C1;
}

.btn-info:hover, .btn-info:active {
  background: #419DB8;
}

.btn-success {
  background: #5BB75B;
}

.btn-success:hover, .btn-success:active {
  background: #58B158;
}

.btn-danger {
  background: #DA4F49;
}

.btn-danger:hover, .btn-danger:active {
  background: #CF4B45;
}

.editor .activeline {
  background-color: #e8f2ff;
}

.editor .activemarker {
  font-weight: bold;
  color: #666;
  background-color: #ddd;
}

.terminal {
  height: 200px;
  margin-top: 20px;
}

.terminal > .terminal-gutter {
  left: 0;
  top: 0;
  background-color: #f2f2f2;
  border-right: 1px solid #e0e0e0;
  width: 33px;
  height: 100%;
  float: left;
}

.terminal > .output {
  margin-left: 30px;
  padding: 5px 7px;
  height: 180px;
  width: 585px;
  overflow-x: hidden;
  overflow-y: auto;
}

.terminal > .output form {
  padding: 0;
  margin: 0;
  display: inline;
}

.terminal > .output input {
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  margin-top: -3px;
  color: #333;
  background: transparent;
  width: 570px;
}

.terminal > .output > div {
  width: 580px;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

.main-container {
  background: url('../img/noisy_bg.png');
}

.pager a {
  border-radius: 0;
  border: none;
  background: transparent;
}


/* Login/Signup page */
.login-container, .signup-container {
  width: 450px;
  margin: 0 auto;
  margin-top: 100px;
}

.login-container .header, .signup-container .header {
  margin-bottom: 15px;
  margin-top: 15px;
  color: #2D6987;
  font-family: "MuseoSans";
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 1px;
  float: left;
}

.loginform, .signupform {
  padding: 20px 30px;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  font-family: "ABeeZee", sans-serif;
}

.loginform td > label, .signupform td > label {
  font-size: 14px;
  color: #444;
  margin-right: 10px;
}

.loginform input[type="text"], .loginform input[type="password"],.signupform input[type="text"], .signupform input[type="password"] {
  border-radius: 0px;
  width: 235px;
  font-family: "ABeeZee", sans-serif;
}
.loginform input:focus, .signupform input:focus {
  box-shadow: none;
  border: 1px solid #377EA3;
}

.loginform td, .signupform td {
  width: 140px;
}

.loginform .alert, .signupform div#error {
  border-radius: 0px;
  color: #B94A48;
  background-color: #F2DEDE;
  border-color: #EED3D7;
}

.signupform div#error {
  margin-bottom: 10px;
  clear: both;
}

.signupform div#error > label {
  padding: 4px 10px;
  margin: 0px;
}

.loginform .alert > button {
  top:0px;
  right:-25px;
}

.loginform .remember-me {
  margin-top: 5px;
  color: #666;
}

.loginform .remember-me label {
  display: inline;
}

.loginform a, .signupform a {
  float: right;
  color: #888;
}

.loginform .btns, .signupform .btns {
  margin-top: 15px;
}

.loginform .btns a, .signupform .btns a {
  margin-top: 5px;
}

.loginform .btns .login-btn, .signupform .btns .signup-btn {
  background: #377EA3;
  color: #f8f8f8;
  border: none;
  cursor: pointer;
  font: 15px "ABeeZee",Helvetica,Arial,sans-serif;
  font-weight: bold;
  padding: 5px 30px;
  text-align: center;
}

.loginform .btns .login-btn:hover, .signupform .btns .signup-btn:hover {
  background: #2D6987;
}

.loginform .social-btns, .signupform .social-btns {
  overflow: hidden;
  margin: 0;
  display: inline-block;
  float: right;
}

.loginform .social-btns .login-btn, .signupform .social-btns .signup-btn {
  float: left;
  text-decoration: none;
  padding: 5px 18px;
}

.loginform .social-btns .login-btn .btnlabel, .signupform .social-btns .signup-btn .btnlabel {
  display: inline-block;
  position: relative;
  top: 7px;
  color: #f8f8f8;
  margin-left: -5px;
}
.loginform .social-btns > .btn-fb, .signupform .social-btns > .btn-fb {
  background-color: #4365AD;
}

.loginform .social-btns > .btn-fb:hover, .signupform .social-btns > .btn-fb:hover {
  background-color: #3B5998;
}

.signupform .social-btns > .btn-google {
  background-color: #DD6156;
}

.loginform .social-btns > .btn-google {
  background-color: #DD6156;
}

.loginform .social-btns > .btn-google:hover, .signupform .social-btns > .btn-google:hover {
  background-color: #C7574D;
}

.icon-fb, .icon-google {
  display: inline-block;
  vertical-align: text-top;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  background-position: center center;
}

.icon-fb {
  background: url('../img/fb.png');
}

.icon-google {
  background: url('../img/google.png');
  position: relative;
  top: 2px;
}

p, ul, ol, dl {
  font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

/*::-moz-selection
{
  background:#e9e9e9;
}
 
::selection 
{
  background:red;
  color: white;
}*/

/* Scroll bar 
::-webkit-scrollbar {
  width: 5px;
}
 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background-color: #999; 
}
::-webkit-scrollbar-thumb:window-inactive {
  background-color: #bbb; 
}*/

/* Fonts */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans');/*, url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');*/
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold');/*, url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/EFpQQyG9GqCrobXxL-KRMQFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');*/
}
@font-face 
{
  font-family: 'Monaco';
  font-style: normal;
  font-weight: 300;
  src: local('Monaco'), url('../font/Monaco.ttf') format('truetype');
}

@font-face {
  font-family:'Ubuntu Mono';
  font-style: normal;
  font-weight: 300;
  src: url("../font/UbuntuMono.ttf") format("truetype");
}

@font-face {
  font-family:'MuseoSans';
  font-style: normal;
  font-weight: 300;
  src: url("../font/MuseoSans.woff") format("woff");
}

@font-face {
  font-family:'ABeeZee';
  font-style: normal;
  font-weight: 300;
  src: url("../font/ABeeZee-Regular.ttf") format("truetype");
}

@font-face {
  font-family:'Sanchez';
  font-style: normal;
  font-weight: 300;
  src: url("../font/Sanchez-Regular.ttf") format("truetype");
}