<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Learn C | CInteract</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    
    <!-- styles -->
    <link href="/site-media/css/bootstrap.css" rel="stylesheet">
    <link href="/site-media/css/styles.css" rel="stylesheet">
    <link href="/site-media/css/codemirror.css" rel="stylesheet">
    <link href="/site-media/css/jqconsole.css" rel="stylesheet">

    <!-- javascripts -->
    <script src="/site-media/js/jquery.js"></script>
    <script src="/site-media/js/angular.min.js"></script>
    <script src="/site-media/js/bootstrap.js"></script>
    <script src="/site-media/js/bootstrap.min.js"></script>
    <script src="/site-media/js/codemirror.js"></script>
    <script src="/site-media/js/directives.js"></script>
    <script src="/site-media/js/clike.js"></script>
    <script src="/site-media/js/jqconsole.js"></script>
    <script src="/site-media/js/controllers.js"></script>
    <script src="/site-media/js/functions.js"></script>
    <script src="/site-media/js/scripts.js"></script>
    <script src="/socket.io/socket.io.js"></script>   
 
    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="/site-media/img/favicon.ico">
  </head>

  <body class="main-container">
