<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Learn C | CInteract</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- styles -->
    <link href="site-media/css/bootstrap.css" rel="stylesheet">
    <link href="site-media/css/styles.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    </style>

    <!-- scripts -->
    <script src="site-media/js/jquery.js"></script>
    <script src="site-media/js/bootstrap.js"></script>
    <script src="site-media/js/bootstrap.min.js"></script>

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="site-media/img/favicon.ico">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">
	    <img id="logo" alt="CInteract Logo" height="24" src="site-media/img/logo.png">
	    <img id="logo-hover" alt="CInteract Logo" height="24" src="site-media/img/logo-hover.png">
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">Why CInteract?</a></li>
              <li><a href="#contact">Contact</a></li>
	      <li><a href="#blog">Blog</a></li>
	      <li class="divider-vertical"></li>
	      <li><a id="login" href="#login">Log In</a></li>
	      <li><a id="signup" href="#signup">Sign Up</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      <div class="container">
	<div class="row">
	  <div class="span8" style="margin-top:40px; height:170px">
	    <h1>Hello, world!</h1><br>
	    <p>CInteract is a place to learn C interactively.</p>
	  </div>
	  <div class="span5">
	    <img id="hero-cover" src="site-media/img/hero-cover.png" height="210" />
	  </div>
	</div>
	<div><a class="btn btn-success signup" href="#">Lets CInteract!</a></div>
	<p></p>
      </div>
    </div>

    <div class="clearfix container">
      <div class="row">
        <div class="span4" style="background: url(site-media/img/learn.jpg);background-size: cover">
        </div>
        <div class="span4" style="background: url(site-media/img/coding.jpg);background-size: cover">
        </div>
        <div class="span4" style="background: url(site-media/img/share.gif);background-size: cover">
        </div>
      </div>
    </div>
    
    <div class="footer container" style="margin-top:30px;">
      <div style="background-color: #ddd;height: 1px;margin: 10px 0 20px;"></div>

      <footer>
        <p>&copy; 2012 CInteract</p>
      </footer>

    </div>
  </body>
</html>
