<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
     <a class="brand" href="/course"><b>&gt; cinteract</b></a>
      <div class="nav-collapse collapse">
	<script>
	  $(document).click(function(e) {
	    if( e.target.id != 'toggle-dropdown' && !$('#tab-dropdown').find(e.target).length) {
	      $(".tab-dropdown").fadeOut(50);
	    }
	  });
	</script>
	<ul class="nav">
	  <% if( title == "Login" || title == "Signup" ) { %>
	    <% if(title == "Login") { %>
	      <li><a href="/signup">Sign up</a></li>
	    <% } else { %>
	    <li><a href="/login">Login</a></li>
	    <% } %>
            <li><a href="/about">About</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/blog">Blog</a></li>
	  <% } else { %>
	  <li id="tab-dropdown">
	    <a id="toggle-dropdown" onClick="$('.tab-dropdown').fadeToggle(50)"><%= title %></a>
	    <div class="tab-dropdown">
	      <div class="userimg">
		<img src="/site-media/img/avatar.jpeg" width="72" height="72"/>
	      </div>
	      <div class="profiletab">
		<ul class="profiletab-nav">
		  <li class="profile"><a href="/user">Profile</a></li>
		  <li class="logout"><a href="/logout">Logout</a></li>
		</ul>
	      </div>
	    </div>
	  </li>
	  <li><a href="/topics">Topics</a></li>
	  <li><a href="/forum">Forum</a></li>
	  <li><a href="/blog">Blog</a></li>
	  <% } %>
	</ul>
      </div>
    </div>
  </div>
</div>
