<% include ../navbar %>

    <div class="topic-label container">
      <center>Topic {{topicid}} : {{topicname}}</center>
    </div>
    
    <div class="container">
      <div class="level-nav">
	<a ng-repeat="level in levels" ng-href="{{level.url}}"><div ng-class="{active: levelid == level.id}">{{level.id}}&nbsp;<i class="icon-ok" /></div></a>
      </div>
      <div class="row-fluid">
	<div class="desc span5">
	  <div class="level-name">Level {{levelid}} : {{levelname}}</div>
	  <div class="level-desc">
	    Strings in C are represented by <code>arrays</code> of characters. The end of the string is marked with a special character, the null character, which is simply the character with the value 0. (The null character has no relation except in name to the null pointer. In the ASCII character set, the null character is named NUL.) The null or string-terminating character is represented by another character escape sequence, \0. 
	    <br><br>
	    Because C has no built-in facilities for manipulating entire arrays (copying them, comparing them, etc.), it also has very few built-in facilities for manipulating strings.
	  </div>
	  <div class="action-bar">
	    <ul class="pager">
	      <li class="previous">
		<a ng-href="{{prevurl}}">{{prevlabel}}</a>
	      </li>
	      <li class="next">
		<a ng-href="{{nexturl}}">{{nextlabel}}</a>
	      </li>
	    </ul>
	  </div>
	</div>
	<div class="span7">
	  <div class="editor">
	    <form style="margin-bottom: 0"><textarea editor id="textArea">
/* Code here... */
           
#include <stdio.h>

int main() {
    int i;
    printf("Enter number : ");
    scanf("%d",&i);
    printf("the number is %d",i);
    return 0;
}</textarea></form>
	    <div class="action-bar">
	      <div id="run" class="btn btn-info" onClick="jqconsole.SetPromptText('run');jqconsole.AbortPrompt();runCode();">Run</div>
	      <div id="compile" class="btn btn-success" onClick="jqconsole.SetPromptText('compile');jqconsole.AbortPrompt();compileCode();" >Compile</div>
	      <div id="reset" class="btn btn-danger" onClick="codeEditor.setValue('');$('.terminal > .output > div').html('')">Reset</div>
	    </div>
	  </div>
	  <div class="terminal">
	    <div class="terminal-gutter"></div>
	    <div console class="output" id="console">
<!-- 	      <textarea readonly></textarea> -->
	      <div></div>
	      <form action="javascript:sendInput()"></form>
	    </div>
	  </div>
	</div>
      </div>
    </div>
