<% include ../header %>
<% include ../navbar %>

  <div class="container">
    <div class="signup-container">
    <form id="signupform" class="signupform" action="" method="post">
	<div class="header">Sign up with email&nbsp;&nbsp;<i style="font-size: 12px">or</i>&nbsp;</div>
	<div class="social-btns btns">
	  <a href="#" class="signup-btn btn-fb">
	    <div class="icon-fb"></div>
	  </a>
	  <a href="#" class="signup-btn btn-google">
	    <div class="icon-google"></div>
	  </a>
	</div>
	<div id="error"></div>
        <table>
          <tbody>
            <tr>
              <td><label for="fname">First name</label></td>
              <td><input id="fname" name="fname" size="30" type="text" tabindex="1" spellcheck="false"></td>
            </tr>
            <tr>
              <td><label for="email">Email</label></td>
              <td><input id="email" name="email" size="30" type="text" tabindex="2" spellcheck="false"></td>
            </tr>
            <tr>
              <td><label for="password">Password</label></td>
              <td><input id="password" name="password" size="30" type="password" tabindex="3" spellcheck="false"></td>
            </tr>
            <tr>
              <td><label for="cpassword">Confirm Password</label></td>
              <td><input id="cpassword" name="cpassword" size="30" type="password" tabindex="4" spellcheck="false"></td>
            </tr>
          </tbody>
        </table>
        <div class="btns">
          <input class="signup-btn" name="signup-btn" type="submit" value="Create Account">
          <a href="/login">Already have an account?</a>
        </div>
      </form>
    </div>
  </div>
  <script type='text/javascript' src="http://malsup.github.com/jquery.form.js"></script>
  <script type="text/javascript" src="/site-media/js/jquery.validate.min.js"></script>
  <script type='text/javascript'>
      $(function() {
	   $("#signupform").validate({
	       rules: {
		   email: {
		       required: true,
		       email: true,
		       remote: {
			   url: '/user/checkAvailable',
			   type: 'post'
		       }
		   },
		   fname: "required",
		   password: "required"
	       },
	       messages: {
		   email: {
		       required: "Invalid email.",
		       email: "Invalid email.",
		       remote: "Email already registered."
		   },
		   fname: "First name required.",
		   password: "Password cannot be empty."
	       },
	       submitHandler: function() {
	           console.log("submit handler in jq valid");
		    var afOptions = {
			    beforeSubmit: function() {
				$("#signupform").valid();
			    },
			    url: '/signup',
			    type: 'post',
			    dataType: 'json',
			    clearForm: true,
			    resetForm: true,
			    success: function(data) {
				if (data.errors === undefined && data.status === "success") {
				    alert("You are registered. Login with your credentials.");
				    window.location = "/login";
				}
			    } 
		    };
		    $("#signupform").ajaxSubmit(afOptions);
		    return false;
		},
		errorPlacement: function(error, element) {
		  error.appendTo($("#signupform #error"));
		}
	   });
//            $("#signupform").ajaxForm(afOptions);
      });
  </script>
<% include ../footer %>
