<% include ../header %>
<% include ../navbar %>

  <div class="container">
    <div class="login-container">
      <form class="loginform" action="/login" method="post">
	<div class="header">Sign in with email&nbsp;&nbsp;<i style="font-size: 12px">or</i>&nbsp;</div>
	<div class="social-btns btns">
	  <a href="#" class="login-btn btn-fb">
	    <div class="icon-fb"></div>
	  </a>
	  <a href="#" class="login-btn btn-google">
	    <div class="icon-google"></div>
	  </a>
	</div>
	<table>
          <tbody>
            <tr>
              <td><label for="username">Email or username</label></td>
              <td><input id="username" name="username" size="30" type="text" tabindex="1" spellcheck="false"></td>
            </tr>
            <tr>
              <td><label for="password">Password</label></td>
              <td><input id="password" name="password" size="30" type="password" tabindex="2" spellcheck="false"></td>
            </tr>
          </tbody>
        </table>
        <% if(flash.error) { %>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash.error %>
        </div>
        <% } %>
        <div class="remember-me">
          <input checked="checked" id="remember_me" name="PersistentLogin" type="checkbox" value="1">
          <label for="remember_me">Remember me</label>
          <a href="#">Forgot your password?</a>
        </div>
        <div class="btns">
          <input class="login-btn" name="login-btn" type="submit" value="Login">
          <a href="/signup">Create Account</a>
        </div>
      </form>
    </div>
  </div>
<% include ../footer %>
